.p{
    color: red;
    font-size: bold;
}
.classp{
    background-color: aquamarine;
    font-style: italic;
}
#idp{
    font-size: 45px;
    
}
.alert{
    color: grey;
}
.alert-error{
    color: red;
}
.blockDiv{
    height: 500px;
    background-color: brown;
}
div{
    height: 200xp
    backgtound-color: aqua 
    
}
#iddiv{
    background-color: blue;
}

    
